# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
/target

# Nix artifact
/result

.playwright-mcp/

# Default output directory
/brand-output/
